* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}
.header {
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    
}
 a {
    text-decoration: none;
    font-size: 30px;
    color: black;
 }
.logo {
    font-size: 40px;
}
.span {
    font-size: 30px;
}
.info-container {
    border: 1px solid blue;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: auto;
}